@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(229, 84%, 5%);
  --foreground: hsl(0, 3%, 92%);
  --primary: hsl(273, 90%, 69%);
  --secondary: hsl(273, 90%, 81%);
  --indi: hsl(249, 80%, 63%);  
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.glow {
  
-webkit-box-shadow:0px 0px 105px 45px hsla(273, 90%, 69%, 0.9);
-moz-box-shadow: 0px 0px 105px 45px hsla(273, 90%, 69%, 0.9);
box-shadow: 0px 0px 105px 45px rgba(183,105,247,0.9);

}